<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Gaming Zone"/>
<meta name="keywords" content="Gaming, Zone, Reviews, Gaming Reviews, Xbox, Playstation, Nintendo, Switch, PC"/>
<meta name="author" content="Connor Duthie"/>
<link rel="icon" type="image/svg" href="img/thumbnail.svg"/>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/script.js"></script>
<title>Gaming Zone</title>
</head>

<body>

<div id="wrapper">

	<div class="header">

		<a href="/"><img src="../static/img/gaming_zone_logo.svg" alt="logo" class="logo"/></a>
				
	<nav>

		<ul>

			<li><a href="/xbox/games" class="xbox">xbox</a></li>
			<li><a href="#" class="playstation">playstation</a></li>
			<li><a href="#" class="nintendo">nintendo</a></li>
			<li><a href="#" class="pc">pc</a></li>

		</ul>

	</nav>

	</div>
	
<div class="banner"></div>
	
</div>

